<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.apple.stocks.backgroundFetchManager</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>20A241115</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Stocks</string>
	<key>CFBundleExecutable</key>
	<string>Stocks</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Stocks.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.Stocks.help</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.stocks</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Stocks</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.4</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.apple.stocks</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>stocks</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>766</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12E6178j</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.4</string>
	<key>DTSDKBuild</key>
	<string>20F67</string>
	<key>DTSDKName</key>
	<string>macosx11.4internal</string>
	<key>DTXcode</key>
	<string>1240</string>
	<key>DTXcodeBuild</key>
	<string>12E6178j</string>
	<key>HPDHelpProjectIdentifier</key>
	<string>stocks</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSCounterpartIdentifiers</key>
	<array>
		<string>com.apple.stocks.watchapp</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>11.4</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This will let you add events from Stocks to your calendar.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 Apple Inc. All rights reserved.</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>StockIntent</string>
		<string>StocksOverviewIntent</string>
		<string>com.apple.stocks.basic</string>
		<string>com.apple.stocks.v2.ForYouFeed</string>
		<string>com.apple.stocks.v2.SymbolFeed</string>
		<string>com.apple.stocks.v2.SymbolSearch</string>
		<string>com.apple.stocks.v2.Article</string>
	</array>
	<key>SBAppUsesLocalNotifications</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>TeaUI.WindowScene</string>
					<key>UISceneDelegateClassName</key>
					<string>StocksApp.SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>SEARCH_QUICK_ACTION_TITLE</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.apple.stocks.v2.SymbolSearch</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>data</key>
				<data>
				eyJ0eXBlIjoiY29tLmFwcGxlLnN0b2Nrcy52Mi5TeW1i
				b2xTZWFyY2giLCJxdWVyeSI6IiJ9
				</data>
			</dict>
		</dict>
	</array>
	<key>UIApplicationShortcutWidget</key>
	<string>com.apple.stocks.widget</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UIGlobalUserInterfaceIdiomMac</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UILaunchStoryboardName~iphone</key>
	<string>LaunchScreen~iphone</string>
	<key>UILaunchStoryboardName~ipod</key>
	<string>LaunchScreen~iphone</string>
	<key>UIMenuBarItemTitleAbout</key>
	<string>About Stocks</string>
	<key>UIMenuBarItemTitleHelp</key>
	<string>Stocks Help</string>
	<key>UIMenuBarItemTitleHide</key>
	<string>Hide Stocks</string>
	<key>UIMenuBarItemTitleQuit</key>
	<string>Quit Stocks</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIStatusBarStyle~ipad</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipod</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceIdiomMac</key>
	<true/>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>WKPluginBundleIdKey</key>
	<string>com.apple.stocks.watchkitextension</string>
</dict>
</plist>
